@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 240 10% 3.9%;
    --card: 60 56% 93%;
    --card-foreground: 240 10% 3.9%;
    --popover: 60 56% 91%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 60 40% 85%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 60 30% 88%;
    --muted-foreground: 240 5.9% 10%;
    --accent: 25 76% 44%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 120 10% 80%;
    --input: 120 10% 85%;
    --ring: 120 25% 55%;
    --chart-1: 120 25% 65%;
    --chart-2: 25 76% 44%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 120 25% 65%;
    --primary-foreground: 120 25% 15%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 25 76% 54%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 120 25% 55%;
    --chart-1: 120 25% 65%;
    --chart-2: 25 76% 54%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
